################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.obj
*.tlog
*.iobj
*.lib
/.vs
/Support
/Research
