* text=auto !eol
/ChangeLog -text
Documentation/Constructing[!!-~]a[!!-~]Datafile[!!-~]from[!!-~]Gaussian[!!-~]output.html -text
Documentation/MESMER[!!-~]manual.doc -text
Documentation/MESMER[!!-~]manual.pdf -text
Documentation/Procedure_to_configure_MESMER_under_XCode.doc -text
Documentation/Video[!!-~]tutorial[!!-~]plan[!!-~]of[!!-~]MESMER.doc -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/Acetyl_O2_Eoffset.xml -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/Acetyl_O2_association.xml -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/Acetyl_O2_association_mytest.xml -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/Acetyl_O2minimal.xml -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/baselines/Linux64/mesmer.log -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/baselines/Linux64/mesmer.test -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/baselines/MacOSX/mesmer.test -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/baselines/Win32/mesmer.log -text
MesmerQA/Acetyl[!!-~]O2[!!-~]association/baselines/Win32/mesmer.test -text
MesmerQA/HSO2/HSO2.xml -text
MesmerQA/HSO2/HSO2_test.xml -text
MesmerQA/HSO2/baselines/Linux64/mesmer.log -text
MesmerQA/HSO2/baselines/Linux64/mesmer.test -text
MesmerQA/HSO2/baselines/MacOSX/mesmer.test -text
MesmerQA/HSO2/baselines/Win32/mesmer.log -text
MesmerQA/HSO2/baselines/Win32/mesmer.test -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/OH_acetylene_association_test.xml -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Linux64/mesmer.log -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Linux64/mesmer.test -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/MacOSX/mesmer.test -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Win32/mesmer.log -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Win32/mesmer.test -text
MesmerQA/QA.bat -text
MesmerQA/cyclopropene[!!-~]isomerization[!!-~]reservoir[!!-~]state/Cyclopropene_isomerization_reservoir_state_test.xml -text
MesmerQA/cyclopropene[!!-~]isomerization[!!-~]reservoir[!!-~]state/baselines/Linux64/mesmer.log -text
MesmerQA/cyclopropene[!!-~]isomerization[!!-~]reservoir[!!-~]state/baselines/Linux64/mesmer.test -text
MesmerQA/cyclopropene[!!-~]isomerization[!!-~]reservoir[!!-~]state/baselines/MacOSX/mesmer.test -text
MesmerQA/cyclopropene[!!-~]isomerization[!!-~]reservoir[!!-~]state/baselines/Win32/mesmer.log -text
MesmerQA/cyclopropene[!!-~]isomerization[!!-~]reservoir[!!-~]state/baselines/Win32/mesmer.test -text
MesmerQA/cyclopropene[!!-~]isomerization/Cyclopropene_isomerization_test.xml -text
MesmerQA/cyclopropene[!!-~]isomerization/baselines/Linux64/mesmer.log -text
MesmerQA/cyclopropene[!!-~]isomerization/baselines/Linux64/mesmer.test -text
MesmerQA/cyclopropene[!!-~]isomerization/baselines/MacOSX/mesmer.test -text
MesmerQA/cyclopropene[!!-~]isomerization/baselines/Win32/mesmer.log -text
MesmerQA/cyclopropene[!!-~]isomerization/baselines/Win32/mesmer.test -text
MesmerQA/pentyl/baselines/Linux64/mesmer.log -text
MesmerQA/pentyl/baselines/Linux64/mesmer.test -text
MesmerQA/pentyl/baselines/MacOSX/mesmer.test -text
MesmerQA/pentyl/baselines/Win32/mesmer.log -text
MesmerQA/pentyl/baselines/Win32/mesmer.test -text
MesmerQA/pentyl/pentyl_isomerization_basisset_test.xml -text
MesmerQA/pentyl/pentyl_isomerization_test.xml -text
MesmerQA/pentyl/pentyl_isomerize_dissocn.xml -text
MesmerQA/qashell.sh -text
MesmerQA/spin_forbidden_kinetics/HCCH_methylene.test -text
MesmerQA/spin_forbidden_kinetics/HCCH_methylene.xml -text
MesmerQA/spin_forbidden_kinetics/LZ_test.test -text
MesmerQA/spin_forbidden_kinetics/LZ_test.xml -text
MesmerQA/spin_forbidden_kinetics/WKB_test.test -text
MesmerQA/spin_forbidden_kinetics/WKB_test.xml -text
/README -text
/defaults.xml -text
examples/AcetylO2/Acetyl_O2_associationEx.xml -text
examples/AcetylO2/Int1.log -text
examples/AcetylO2/Int2.log -text
examples/AcetylO2/O2.log -text
examples/AcetylO2/OH.log -text
examples/AcetylO2/TS1.log -text
examples/AcetylO2/TS2.log -text
examples/AcetylO2/TS3.log -text
examples/AcetylO2/acetyl.log -text
examples/AcetylO2/acetylO2.ck -text
examples/AcetylO2/lactone.log -text
examples/DiagramTest/HSO2.xml -text
examples/Ethyl_H_to_Ethane/Ethyl_H_to_Ethane.xml -text
examples/Ethyl_H_to_Ethane/Ethyl_H_to_Ethane_FGH.xml -text
examples/MesmerTemplate.text -text
examples/Methyl_H_to_Methane/Methyl_H_to_Methane.xml -text
examples/benzene_oxidation/benzene_oxidation_test.xml -text
examples/benzene_oxidation/mesmer.log -text
examples/benzene_oxidation/mesmer.test -text
examples/i-propyl/ipropyl_test.xml -text
examples/isopropylFGHindered/isopropyl.xml -text
examples/isopropylHinderedRotor/isopropyl.xml -text
examples/makedata.bat -text
examples/reservoirSink/full.test -text
examples/reservoirSink/mesmer_out.xml -text
examples/reservoirSink/reservoirSinkAcetylO2.test -text
examples/reservoirSink/reservoirSinkAcetylO2.xml -text
/librarymols.xml -text
mesmer.xcodeproj/project.pbxproj -text
/mesmer1.xsl -text
/mesmer2.xsl -text
/mesmerDiag.xsl -text
/popDiag.xsl -text
/punch.xsl -text
/punchout.bat -text
qd/AUTHORS -text
qd/COPYING -text
qd/ChangeLog -text
qd/INSTALL -text
qd/Makefile.am -text
qd/Makefile.in -text
qd/NEWS -text
qd/README -text
qd/TODO -text
qd/aclocal.m4 -text
qd/config.h.in -text
qd/config/Makefile.am -text
qd/config/Makefile.in -text
qd/config/autogen.sh -text
qd/config/config.guess -text
qd/config/config.sub -text
qd/config/depcomp -text
qd/config/install-sh -text
qd/config/ltmain.sh -text
qd/config/makedist.sh -text
qd/config/missing -text
qd/config/mkinstalldirs -text
qd/configure -text
qd/configure.ac -text
qd/docs/Makefile -text
qd/docs/Thumbs.db -text
qd/docs/nine-two-sum.eps -text
qd/docs/nine-two-sum.fig -text
qd/docs/normal_sum_prod.eps -text
qd/docs/normal_sum_prod.fig -text
qd/docs/qd.bib -text
qd/docs/qd.pdf -text
qd/docs/qd.tex -text
qd/docs/qd_add.eps -text
qd/docs/qd_add.fig -text
qd/docs/qd_add_proof.eps -text
qd/docs/qd_add_proof.fig -text
qd/docs/qd_add_qd_d.eps -text
qd/docs/qd_add_qd_d.fig -text
qd/docs/qd_mul_accum.eps -text
qd/docs/qd_mul_accum.fig -text
qd/docs/qd_mul_qd_d.eps -text
qd/docs/qd_mul_qd_d.fig -text
qd/docs/quick-two-sum.eps -text
qd/docs/quick-two-sum.fig -text
qd/docs/six-three-sum.eps -text
qd/docs/six-three-sum.fig -text
qd/docs/three-sum-2.eps -text
qd/docs/three-sum-2.fig -text
qd/docs/three-sum-3.eps -text
qd/docs/three-sum-3.fig -text
qd/docs/three-sum.eps -text
qd/docs/three-sum.fig -text
qd/docs/two-prod.eps -text
qd/docs/two-prod.fig -text
qd/docs/two-sum.eps -text
qd/docs/two-sum.fig -text
qd/fortran/Makefile.am -text
qd/fortran/Makefile.in -text
qd/fortran/Makefile.sample -text
qd/fortran/dd_timer.f -text
qd/fortran/ddmod.f -text
qd/fortran/f_dd.cpp -text
qd/fortran/f_qd.cpp -text
qd/fortran/main.cpp -text
qd/fortran/qd_timer.f -text
qd/fortran/qdmod.f -text
qd/fortran/second.f.in -text
qd/fortran/tquaderq.f -text
qd/fortran/tquadgsq.f -text
qd/fortran/tquadgsq2d.f -text
qd/fortran/tquadtsq.f -text
qd/fortran/tquadtsq2d.f -text
qd/fortran/zz_timer.f -text
qd/include/Makefile.am -text
qd/include/Makefile.in -text
qd/include/qd/bits.h -text
qd/include/qd/c_dd.h -text
qd/include/qd/c_qd.h -text
qd/include/qd/dd_inline.h -text
qd/include/qd/dd_real.h -text
qd/include/qd/fpu.h -text
qd/include/qd/inline.h -text
qd/include/qd/qd_config.h.in -text
qd/include/qd/qd_inline.h -text
qd/include/qd/qd_real.h -text
qd/m4/ax_cxx_clock_gettime.m4 -text
qd/m4/ax_cxx_copysign.m4 -text
qd/m4/ax_cxx_fc_lib.m4 -text
qd/m4/ax_cxx_fma.m4 -text
qd/m4/ax_cxx_isfinite.m4 -text
qd/m4/ax_cxx_isinf.m4 -text
qd/m4/ax_cxx_isnan.m4 -text
qd/m4/ax_f90_module_flag.m4 -text
qd/m4/ax_f90_module_style.m4 -text
qd/m4/ax_fc_etime.m4 -text
qd/qd-config.in -text
qd/src/Makefile.am -text
qd/src/Makefile.in -text
qd/src/bits.cpp -text
qd/src/c_dd.cpp -text
qd/src/c_qd.cpp -text
qd/src/dd_const.cpp -text
qd/src/dd_real.cpp -text
qd/src/fpu.cpp -text
qd/src/qd_const.cpp -text
qd/src/qd_real.cpp -text
qd/src/util.cpp -text
qd/src/util.h -text
qd/tests/Makefile.am -text
qd/tests/Makefile.in -text
qd/tests/f_test.f -text
qd/tests/huge.cpp -text
qd/tests/pslq.h -text
qd/tests/pslq_test.cpp -text
qd/tests/qd_test.cpp -text
qd/tests/qd_timer.cpp -text
qd/tests/quadt.h -text
qd/tests/quadt_test.cpp -text
qd/tests/tictoc.cpp -text
qd/tests/tictoc.h -text
sketchup/MESMER_USER_README -text
sketchup/mesmer/bezier.rb -text
sketchup/mesmer/element.rb -text
sketchup/mesmer/element.txt -text
sketchup/mesmer/mesmer_menuItem.rb -text
sketchup/mesmer/mesmer_parseXML.rb -text
sketchup/mesmer/molecule.rb -text
sketchup/mesmer/reaction.rb -text
sketchup/mesmer/sphere.rb -text
sketchup/mesmer_data.rb -text
