* text=auto !eol
/ChangeLog -text
Documentation/Checklist.doc -text
Documentation/FAQ.tex -text
Documentation/HowMesmerWork.tex -text
Documentation/Mesmer[!!-~]FAQ.doc -text
Documentation/Mesmer.dvi -text
Documentation/Mesmer.ps -text
Documentation/Mesmer.tex -text
Documentation/Write[!!-~]a[!!-~]XML[!!-~]input[!!-~]file.doc -text
Documentation/inclusion.tex -text
Documentation/inputFile.tex -text
Documentation/mybib.bib -text
Documentation/proposal.doc -text
Documentation/proposal.tex -text
MesmerQA/HSO2/HSO2.xml -text
MesmerQA/HSO2/HSO2_test.xml -text
MesmerQA/HSO2/baselines/Cygwin[!!-~]32-bit[!!-~]double/HSO2_test.20071204_105924.xml -text
MesmerQA/HSO2/baselines/Cygwin[!!-~]32-bit[!!-~]double/HSO2_test.out -text
MesmerQA/HSO2/baselines/Win32/HSO2_test.20080114_152014.xml -text
MesmerQA/HSO2/baselines/Win32/mesmer.log -text
MesmerQA/HSO2/baselines/Win32/mesmer.test -text
MesmerQA/HSO2/baselines/Win32/old/HSO2_test.20071230_162353.xml -text
MesmerQA/HSO2/baselines/Win32/old/mesmer.test -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/OH_acetylene_association.xml -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Win32/OH_acetylene_association.20080131_185108.xml -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Win32/mesmer.test -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Win32/old/OH_acetylene_association.20080107_175203.xml -text
MesmerQA/OH[!!-~]acetylene[!!-~]association/baselines/Win32/old/mesmer.test -text
MesmerQA/pentyl/baselines/Cygwin[!!-~]32-bit[!!-~]double/pentyl_isomerization.20071204_105247.xml -text
MesmerQA/pentyl/baselines/Cygwin[!!-~]32-bit[!!-~]double/pentyl_isomerization.out -text
MesmerQA/pentyl/baselines/Win32/mesmer.log -text
MesmerQA/pentyl/baselines/Win32/mesmer.test -text
MesmerQA/pentyl/baselines/Win32/old/mesmer.test -text
MesmerQA/pentyl/baselines/Win32/old/pentyl_isomerization.20071229_152339.xml -text
MesmerQA/pentyl/baselines/Win32/pentyl_isomerization.20080114_145301.xml -text
MesmerQA/pentyl/pentyl_isomerization.xml -text
MesmerQA/pentyl/pentyl_isomerize_dissocn.xml -text
/README -text
/ToDo -text
Windows[!!-~]VC8/MESMER.sln -text
Windows[!!-~]VC8/Mesmer/Mesmer.vcproj -text
Windows[!!-~]VC8/Mesmer/mesmer1.xsl -text
Windows[!!-~]VC8/Mesmer/mesmerDiag.xsl -text
Windows[!!-~]VC8/Mesmer/switchcontent.js -text
qd/Linux/AUTHORS -text
qd/Linux/COPYING -text
qd/Linux/ChangeLog -text
qd/Linux/INSTALL -text
qd/Linux/Makefile.am -text
qd/Linux/Makefile.in -text
qd/Linux/NEWS -text
qd/Linux/README -text
qd/Linux/TODO -text
qd/Linux/aclocal.m4 -text
qd/Linux/config.h.in -text
qd/Linux/config/Makefile.am -text
qd/Linux/config/Makefile.in -text
qd/Linux/config/autogen.sh -text
qd/Linux/config/config.guess -text
qd/Linux/config/config.sub -text
qd/Linux/config/depcomp -text
qd/Linux/config/install-sh -text
qd/Linux/config/ltmain.sh -text
qd/Linux/config/makedist.sh -text
qd/Linux/config/missing -text
qd/Linux/config/mkinstalldirs -text
qd/Linux/configure -text
qd/Linux/configure.ac -text
qd/Linux/docs/Makefile -text
qd/Linux/docs/Thumbs.db -text
qd/Linux/docs/nine-two-sum.eps -text
qd/Linux/docs/nine-two-sum.fig -text
qd/Linux/docs/normal_sum_prod.eps -text
qd/Linux/docs/normal_sum_prod.fig -text
qd/Linux/docs/qd.bib -text
qd/Linux/docs/qd.pdf -text
qd/Linux/docs/qd.tex -text
qd/Linux/docs/qd_add.eps -text
qd/Linux/docs/qd_add.fig -text
qd/Linux/docs/qd_add_proof.eps -text
qd/Linux/docs/qd_add_proof.fig -text
qd/Linux/docs/qd_add_qd_d.eps -text
qd/Linux/docs/qd_add_qd_d.fig -text
qd/Linux/docs/qd_mul_accum.eps -text
qd/Linux/docs/qd_mul_accum.fig -text
qd/Linux/docs/qd_mul_qd_d.eps -text
qd/Linux/docs/qd_mul_qd_d.fig -text
qd/Linux/docs/quick-two-sum.eps -text
qd/Linux/docs/quick-two-sum.fig -text
qd/Linux/docs/six-three-sum.eps -text
qd/Linux/docs/six-three-sum.fig -text
qd/Linux/docs/three-sum-2.eps -text
qd/Linux/docs/three-sum-2.fig -text
qd/Linux/docs/three-sum-3.eps -text
qd/Linux/docs/three-sum-3.fig -text
qd/Linux/docs/three-sum.eps -text
qd/Linux/docs/three-sum.fig -text
qd/Linux/docs/two-prod.eps -text
qd/Linux/docs/two-prod.fig -text
qd/Linux/docs/two-sum.eps -text
qd/Linux/docs/two-sum.fig -text
qd/Linux/fortran/Makefile.am -text
qd/Linux/fortran/Makefile.in -text
qd/Linux/fortran/Makefile.sample -text
qd/Linux/fortran/dd_timer.f -text
qd/Linux/fortran/ddmod.f -text
qd/Linux/fortran/f_dd.cpp -text
qd/Linux/fortran/f_qd.cpp -text
qd/Linux/fortran/main.cpp -text
qd/Linux/fortran/qd_timer.f -text
qd/Linux/fortran/qdmod.f -text
qd/Linux/fortran/second.f.in -text
qd/Linux/fortran/tquaderq.f -text
qd/Linux/fortran/tquadgsq.f -text
qd/Linux/fortran/tquadgsq2d.f -text
qd/Linux/fortran/tquadtsq.f -text
qd/Linux/fortran/tquadtsq2d.f -text
qd/Linux/fortran/zz_timer.f -text
qd/Linux/include/Makefile.am -text
qd/Linux/include/Makefile.in -text
qd/Linux/include/qd/bits.h -text
qd/Linux/include/qd/c_dd.h -text
qd/Linux/include/qd/c_qd.h -text
qd/Linux/include/qd/dd_inline.h -text
qd/Linux/include/qd/dd_real.h -text
qd/Linux/include/qd/fpu.h -text
qd/Linux/include/qd/inline.h -text
qd/Linux/include/qd/qd_config.h.in -text
qd/Linux/include/qd/qd_inline.h -text
qd/Linux/include/qd/qd_real.h -text
qd/Linux/m4/ax_cxx_clock_gettime.m4 -text
qd/Linux/m4/ax_cxx_copysign.m4 -text
qd/Linux/m4/ax_cxx_fc_lib.m4 -text
qd/Linux/m4/ax_cxx_fma.m4 -text
qd/Linux/m4/ax_cxx_isfinite.m4 -text
qd/Linux/m4/ax_cxx_isinf.m4 -text
qd/Linux/m4/ax_cxx_isnan.m4 -text
qd/Linux/m4/ax_f90_module_flag.m4 -text
qd/Linux/m4/ax_f90_module_style.m4 -text
qd/Linux/m4/ax_fc_etime.m4 -text
qd/Linux/qd-config.in -text
qd/Linux/src/Makefile.am -text
qd/Linux/src/Makefile.in -text
qd/Linux/src/bits.cpp -text
qd/Linux/src/c_dd.cpp -text
qd/Linux/src/c_qd.cpp -text
qd/Linux/src/dd_const.cpp -text
qd/Linux/src/dd_real.cpp -text
qd/Linux/src/fpu.cpp -text
qd/Linux/src/qd_const.cpp -text
qd/Linux/src/qd_real.cpp -text
qd/Linux/src/util.cpp -text
qd/Linux/src/util.h -text
qd/Linux/tests/Makefile.am -text
qd/Linux/tests/Makefile.in -text
qd/Linux/tests/f_test.f -text
qd/Linux/tests/huge.cpp -text
qd/Linux/tests/pslq.h -text
qd/Linux/tests/pslq_test.cpp -text
qd/Linux/tests/qd_test.cpp -text
qd/Linux/tests/qd_timer.cpp -text
qd/Linux/tests/quadt.h -text
qd/Linux/tests/quadt_test.cpp -text
qd/Linux/tests/tictoc.cpp -text
qd/Linux/tests/tictoc.h -text
qd/Windows[!!-~]VC/AUTHORS -text
qd/Windows[!!-~]VC/BUGS -text
qd/Windows[!!-~]VC/COPYING -text
qd/Windows[!!-~]VC/ChangeLog -text
qd/Windows[!!-~]VC/INSTALL -text
qd/Windows[!!-~]VC/Makefile.am -text
qd/Windows[!!-~]VC/NEWS -text
qd/Windows[!!-~]VC/README -text
qd/Windows[!!-~]VC/TODO -text
qd/Windows[!!-~]VC/config.h -text
qd/Windows[!!-~]VC/config/Makefile.am -text
qd/Windows[!!-~]VC/config/autogen.sh -text
qd/Windows[!!-~]VC/config/config.guess -text
qd/Windows[!!-~]VC/config/config.sub -text
qd/Windows[!!-~]VC/config/depcomp -text
qd/Windows[!!-~]VC/config/install-sh -text
qd/Windows[!!-~]VC/config/ltmain.sh -text
qd/Windows[!!-~]VC/config/makedist-win.sh -text
qd/Windows[!!-~]VC/config/makedist.sh -text
qd/Windows[!!-~]VC/config/missing -text
qd/Windows[!!-~]VC/config/mkinstalldirs -text
qd/Windows[!!-~]VC/configure.ac -text
qd/Windows[!!-~]VC/docs/Makefile -text
qd/Windows[!!-~]VC/docs/nine-two-sum.eps -text
qd/Windows[!!-~]VC/docs/nine-two-sum.fig -text
qd/Windows[!!-~]VC/docs/normal_sum_prod.eps -text
qd/Windows[!!-~]VC/docs/normal_sum_prod.fig -text
qd/Windows[!!-~]VC/docs/qd.bib -text
qd/Windows[!!-~]VC/docs/qd.tex -text
qd/Windows[!!-~]VC/docs/qd_add.eps -text
qd/Windows[!!-~]VC/docs/qd_add.fig -text
qd/Windows[!!-~]VC/docs/qd_add_proof.eps -text
qd/Windows[!!-~]VC/docs/qd_add_proof.fig -text
qd/Windows[!!-~]VC/docs/qd_add_qd_d.eps -text
qd/Windows[!!-~]VC/docs/qd_add_qd_d.fig -text
qd/Windows[!!-~]VC/docs/qd_mul_accum.eps -text
qd/Windows[!!-~]VC/docs/qd_mul_accum.fig -text
qd/Windows[!!-~]VC/docs/qd_mul_qd_d.eps -text
qd/Windows[!!-~]VC/docs/qd_mul_qd_d.fig -text
qd/Windows[!!-~]VC/docs/quick-two-sum.eps -text
qd/Windows[!!-~]VC/docs/quick-two-sum.fig -text
qd/Windows[!!-~]VC/docs/six-three-sum.eps -text
qd/Windows[!!-~]VC/docs/six-three-sum.fig -text
qd/Windows[!!-~]VC/docs/three-sum-2.eps -text
qd/Windows[!!-~]VC/docs/three-sum-2.fig -text
qd/Windows[!!-~]VC/docs/three-sum-3.eps -text
qd/Windows[!!-~]VC/docs/three-sum-3.fig -text
qd/Windows[!!-~]VC/docs/three-sum.eps -text
qd/Windows[!!-~]VC/docs/three-sum.fig -text
qd/Windows[!!-~]VC/docs/two-prod.eps -text
qd/Windows[!!-~]VC/docs/two-prod.fig -text
qd/Windows[!!-~]VC/docs/two-sum.eps -text
qd/Windows[!!-~]VC/docs/two-sum.fig -text
qd/Windows[!!-~]VC/fortran/Makefile.am -text
qd/Windows[!!-~]VC/fortran/Makefile.sample -text
qd/Windows[!!-~]VC/fortran/ddext.f -text
qd/Windows[!!-~]VC/fortran/ddmod.f -text
qd/Windows[!!-~]VC/fortran/f_dd.cpp -text
qd/Windows[!!-~]VC/fortran/f_qd.cpp -text
qd/Windows[!!-~]VC/fortran/main.cpp -text
qd/Windows[!!-~]VC/fortran/qdext.f -text
qd/Windows[!!-~]VC/fortran/qdmod.f -text
qd/Windows[!!-~]VC/fortran/second.f.in -text
qd/Windows[!!-~]VC/fortran/tquaderq.f -text
qd/Windows[!!-~]VC/fortran/tquadgsq.f -text
qd/Windows[!!-~]VC/fortran/tquadgsq2d.f -text
qd/Windows[!!-~]VC/fortran/tquadtsq.f -text
qd/Windows[!!-~]VC/fortran/tquadtsq2d.f -text
qd/Windows[!!-~]VC/fortran/zz_timer.f -text
qd/Windows[!!-~]VC/include/Makefile.am -text
qd/Windows[!!-~]VC/include/qd/bits.h -text
qd/Windows[!!-~]VC/include/qd/c_dd.h -text
qd/Windows[!!-~]VC/include/qd/c_qd.h -text
qd/Windows[!!-~]VC/include/qd/dd_inline.h -text
qd/Windows[!!-~]VC/include/qd/dd_real.h -text
qd/Windows[!!-~]VC/include/qd/fpu.h -text
qd/Windows[!!-~]VC/include/qd/inline.h -text
qd/Windows[!!-~]VC/include/qd/qd_config.h -text
qd/Windows[!!-~]VC/include/qd/qd_config.h.in -text
qd/Windows[!!-~]VC/include/qd/qd_inline.h -text
qd/Windows[!!-~]VC/include/qd/qd_real.h -text
qd/Windows[!!-~]VC/m4/ax_cxx_clock_gettime.m4 -text
qd/Windows[!!-~]VC/m4/ax_cxx_copysign.m4 -text
qd/Windows[!!-~]VC/m4/ax_cxx_fc_lib.m4 -text
qd/Windows[!!-~]VC/m4/ax_cxx_fma.m4 -text
qd/Windows[!!-~]VC/m4/ax_cxx_isfinite.m4 -text
qd/Windows[!!-~]VC/m4/ax_cxx_isinf.m4 -text
qd/Windows[!!-~]VC/m4/ax_cxx_isnan.m4 -text
qd/Windows[!!-~]VC/m4/ax_f90_module_flag.m4 -text
qd/Windows[!!-~]VC/m4/ax_f90_module_style.m4 -text
qd/Windows[!!-~]VC/m4/ax_fc_etime.m4 -text
qd/Windows[!!-~]VC/pslq_test.vcproj -text
qd/Windows[!!-~]VC/qd-config.in -text
qd/Windows[!!-~]VC/qd.sln -text
qd/Windows[!!-~]VC/qd.vcproj -text
qd/Windows[!!-~]VC/qd_test.vcproj -text
qd/Windows[!!-~]VC/qd_timer.vcproj -text
qd/Windows[!!-~]VC/quadt_test.vcproj -text
qd/Windows[!!-~]VC/src/Makefile.am -text
qd/Windows[!!-~]VC/src/bits.cpp -text
qd/Windows[!!-~]VC/src/c_dd.cpp -text
qd/Windows[!!-~]VC/src/c_qd.cpp -text
qd/Windows[!!-~]VC/src/dd_const.cpp -text
qd/Windows[!!-~]VC/src/dd_real.cpp -text
qd/Windows[!!-~]VC/src/fpu.cpp -text
qd/Windows[!!-~]VC/src/qd_const.cpp -text
qd/Windows[!!-~]VC/src/qd_real.cpp -text
qd/Windows[!!-~]VC/src/util.cpp -text
qd/Windows[!!-~]VC/src/util.h -text
qd/Windows[!!-~]VC/tests/Makefile.am -text
qd/Windows[!!-~]VC/tests/c_test.c -text
qd/Windows[!!-~]VC/tests/coeff.dat -text
qd/Windows[!!-~]VC/tests/f_test.f -text
qd/Windows[!!-~]VC/tests/huge.cpp -text
qd/Windows[!!-~]VC/tests/pslq.h -text
qd/Windows[!!-~]VC/tests/pslq_test.cpp -text
qd/Windows[!!-~]VC/tests/qd_test.cpp -text
qd/Windows[!!-~]VC/tests/qd_timer.cpp -text
qd/Windows[!!-~]VC/tests/quadt.h -text
qd/Windows[!!-~]VC/tests/quadt_test.cpp -text
qd/Windows[!!-~]VC/tests/tictoc.cpp -text
qd/Windows[!!-~]VC/tests/tictoc.h -text
src/AssociationReaction.cpp -text
src/AssociationReaction.h -text
src/BathGasMolecule.cpp -text
src/Bayer_Swinehart.h -text
src/ClassicalRotor.cpp -text
src/ClassicalRotor.h -text
src/CollidingMolecule.cpp -text
src/Constants.h -text
src/DensityOfStates.cpp -text
src/DensityOfStates.h -text
src/DissociationReaction.cpp -text
src/DissociationReaction.h -text
src/ExchangeReaction.cpp -text
src/ExchangeReaction.h -text
src/IsomerizationReaction.cpp -text
src/IsomerizationReaction.h -text
src/Makefile -text
src/Matrix.h -text
src/MesmerConfig.h -text
src/MesmerEnv.cpp -text
src/MesmerEnv.h -text
src/MesmerILT.cpp -text
src/MesmerILT.h -text
src/MesmerMath.cpp -text
src/MesmerMath.h -text
src/MesmerPrecision.h -text
src/MicroRate.cpp -text
src/MicroRate.h -text
src/ModelledMolecule.cpp -text
src/Molecule.cpp -text
src/Molecule.h -text
src/MoleculeManager.cpp -text
src/MoleculeManager.h -text
src/Persistence.h -text
src/Reaction.cpp -text
src/Reaction.h -text
src/ReactionManager.cpp -text
src/ReactionManager.h -text
src/SimpleILT.cpp -text
src/SimpleILT.h -text
src/SimpleRRKM.cpp -text
src/SimpleRRKM.h -text
src/SuperMolecule.cpp -text
src/System.cpp -text
src/System.h -text
src/TimeCounter.cpp -text
src/TimeCounter.h -text
src/TransitionState.cpp -text
src/XMLPersist.cpp -text
src/XMLPersist.h -text
src/dMatrix.cpp -text
src/dMatrix.h -text
src/formatfloat.cpp -text
src/formatfloat.h -text
src/main.cpp -text
src/oberror.cpp -text
src/oberror.h -text
src/source.ps -text
tinyxml/MakeLib -text
tinyxml/Makefile -text
tinyxml/changes.txt -text
tinyxml/docs/annotated.html -text
tinyxml/docs/classTiXmlAttribute-members.html -text
tinyxml/docs/classTiXmlAttribute.html -text
tinyxml/docs/classTiXmlAttribute.png -text
tinyxml/docs/classTiXmlBase-members.html -text
tinyxml/docs/classTiXmlBase.html -text
tinyxml/docs/classTiXmlBase.png -text
tinyxml/docs/classTiXmlComment-members.html -text
tinyxml/docs/classTiXmlComment.html -text
tinyxml/docs/classTiXmlComment.png -text
tinyxml/docs/classTiXmlDeclaration-members.html -text
tinyxml/docs/classTiXmlDeclaration.html -text
tinyxml/docs/classTiXmlDeclaration.png -text
tinyxml/docs/classTiXmlDocument-members.html -text
tinyxml/docs/classTiXmlDocument.html -text
tinyxml/docs/classTiXmlDocument.png -text
tinyxml/docs/classTiXmlElement-members.html -text
tinyxml/docs/classTiXmlElement.html -text
tinyxml/docs/classTiXmlElement.png -text
tinyxml/docs/classTiXmlHandle-members.html -text
tinyxml/docs/classTiXmlHandle.html -text
tinyxml/docs/classTiXmlNode-members.html -text
tinyxml/docs/classTiXmlNode.html -text
tinyxml/docs/classTiXmlNode.png -text
tinyxml/docs/classTiXmlPrinter-members.html -text
tinyxml/docs/classTiXmlPrinter.html -text
tinyxml/docs/classTiXmlPrinter.png -text
tinyxml/docs/classTiXmlText-members.html -text
tinyxml/docs/classTiXmlText.html -text
tinyxml/docs/classTiXmlText.png -text
tinyxml/docs/classTiXmlUnknown-members.html -text
tinyxml/docs/classTiXmlUnknown.html -text
tinyxml/docs/classTiXmlUnknown.png -text
tinyxml/docs/classTiXmlVisitor-members.html -text
tinyxml/docs/classTiXmlVisitor.html -text
tinyxml/docs/classTiXmlVisitor.png -text
tinyxml/docs/deprecated.html -text
tinyxml/docs/doxygen.css -text
tinyxml/docs/doxygen.png -text
tinyxml/docs/files.html -text
tinyxml/docs/functions.html -text
tinyxml/docs/functions_enum.html -text
tinyxml/docs/functions_func.html -text
tinyxml/docs/functions_rela.html -text
tinyxml/docs/functions_vars.html -text
tinyxml/docs/hierarchy.html -text
tinyxml/docs/index.html -text
tinyxml/docs/pages.html -text
tinyxml/docs/tab_b.gif -text
tinyxml/docs/tab_l.gif -text
tinyxml/docs/tab_r.gif -text
tinyxml/docs/tabs.css -text
tinyxml/docs/tinystr_8h-source.html -text
tinyxml/docs/tinyxml_8h-source.html -text
tinyxml/docs/tutorial0.html -text
tinyxml/echo.dsp -text
tinyxml/readme.txt -text
tinyxml/tinyXmlTest.dsp -text
tinyxml/tinyXmlTestSTL.dsp -text
tinyxml/tinystr.cpp -text
tinyxml/tinystr.h -text
tinyxml/tinyxml.cpp -text
tinyxml/tinyxml.dsw -text
tinyxml/tinyxml.h -text
tinyxml/tinyxmlSTL.dsp -text
tinyxml/tinyxml_lib.dsp -text
tinyxml/tinyxmlerror.cpp -text
tinyxml/tinyxmlparser.cpp -text
tinyxml/utf8test.gif -text
tinyxml/utf8test.xml -text
tinyxml/utf8testverify.xml -text
tinyxml/xmltest.cpp -text
